.board {
  display: flex;
  padding-bottom: 20px;
  overflow-x: auto;
  gap: 20px;
}

.column {
  display: flex;
  flex: 1 1 260px;
  flex-direction: column;
  border-radius: 8px;
  background-color: #ebecf0;
  padding: 10px;
  gap: 20px;
}

.column h2 {
  color: #172b4d;
  font-size: 1.1em;
}

.column .tickets-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 5px;
  min-height: 30vh;
  max-height: calc(100vh - 236px);
  overflow-y: auto;
  gap: 10px;
}

.ticket {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: grab;
  padding: 10px;
  gap: 10px;
}

.ticket-title {
  color: #0747a6;
  font-weight: bold;
}

.ticket-description {
  color: #5e6c84;
  font-size: 0.9em;
}
