@import url("./_board.css");
@import url("./_modal.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
  padding: 20px;
  font-family: Arial, sans-serif;
  gap: 20px;
}

h1 {
  text-align: center;
  color: #333;
}
